# Ignore virtual environment
venv/

# Ignore static files collected by Django
staticfiles/

# Ignore compiled Python bytecode
*.pyc
__pycache__/

# Ignore local development settings
local_settings.py

# Ignore database files
*.sqlite3

# Ignore media uploads
media/

# Ignore log files
*.log

# Ignore IDE and editor-specific files
.idea/
.vscode/
*.pyc
*.swp

# Ignore sensitive or private information
secret_key.txt
